/node_modules
/coverage
/examples/coverage
/cover
/.idea
/examples/basic/cover
/doc/JUnitResultsExample.xml
/examples/requirejs/cover
/examples/basic/*.xml
/examples/use-gt-as-module/cover
/examples/dojo/dojo-1.8.1
